.button {
    $height: 38px;
    $border: var(--color-black);
    $bg: var(--color-bg);

    width: 100%;
    height: $height;
    font-size: 18px;
    font-weight: 500;
    line-height: 0;
    text-transform: uppercase;
    border: 1px solid $border;
    border-radius: $height / 2;
    background-color: $bg;
    display: block;

    &.active {
        color: $bg;
        background-color: $border;
    }

    &:disabled {
        color: $border;
        background-color: $bg;
        opacity: 0.3;
    }

    &--distance {
        margin-top: 45px;

        &-small {
            margin-top: 20px;
        }
    }

    &--secondary {
        border-color: $bg;
        opacity: 0.6;

        &.active {
            color: $border;
            border-color: $border;
            background-color: $bg;
        }
    }

    &--revers {
        &:not(.active) {
            color: $bg;
            border-color: $bg;
            background-color: transparent;
        }
    }
}
