.button {
    flex: 0 1 auto;
    align-self: flex-end;
    width: 100%;
    height: 100px;
    color: var(--color-content-invert);
    background-color: var(--color-bg-content);
    border: none;
    cursor: pointer;
}
