.button {
    $height: 38px;
    $border: var(--color-black);
    $bg: var(--color-bg);

    height: $height;
    font-size: 18px;
    font-weight: 500;
    line-height: 0;
    text-transform: uppercase;
    border: 1px solid $border;
    border-radius: $height / 2;
    background-color: $bg;
    display: block;

    &:hover,
    &.active {
        color: $bg;
        background-color: $border;
    }

    &--distance {
        margin-top: 45px;

        &-small {
            margin-top: 20px;
        }
    }
}
