.container {
    width: 100%;
    height: 100%;
    padding: 30px;

    &__box {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &[data-flex-position='end'] {
            justify-content: flex-end;
        }

        &[data-flex-position='space-between'] {
            justify-content: space-between;
        }
    }
}
