.input {
    $root: &;

    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 6vw;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    border: none;
    border-radius: 0;
    background-color: transparent;
    background: var(--color-gradient-bg);
    background: var(--color-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &::placeholder {
        font-weight: 400;
        color: currentColor;
        opacity: 1;
    }

    &[type='password'] {
        font-weight: 800;
    }

    &-border {
        height: 1px;
        margin-top: 0.5vw;
        background: var(--color-gradient-bg);
        background: var(--color-gradient);
        transform: scaleX(0.1);
        transition: transform 300ms ease-in-out;
        opacity: 0.6;

        #{$root}:not(:placeholder-shown) + & {
            transform: scaleX(0.5);
        }
    }
}
