.room-table {
    position: relative;
    max-height: 100%;
    margin: 60px 0 45px;
    flex: 1 1 auto;
    overflow: hidden;

    &__list {
        max-height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: auto;
    }

    &__el {
        padding-bottom: 3px;
        font-size: 16px;
        line-height: 19px;
        border-bottom: 1px solid var(--color-black);
        display: flex;
        justify-content: space-between;

        & + & {
            margin-top: 7px;
        }

        &.voting {
            opacity: 0.6;
        }
    }
}
