<div class="auth show">
    <div class="auth__container">
        <form id="auth" class="auth__form">
            <div class="auth__fieldset">
                <input type="email" id="auth-email" class="auth-field" placeholder="Email" />
            </div>

            <div class="auth__fieldset">
                <input type="password" id="auth-password" class="auth-field" placeholder="Password" />
            </div>

            <button class="auth-btn">
                Sign In
            </button>
        </form>
        
        <form id="auth-change" class="auth__form">
            <div class="auth__fieldset">
                <input type="text" id="change-name" class="auth-field" placeholder="Your name" />
            </div>
            <div class="auth__fieldset">
                <input type="password" id="change-password" class="auth-field" placeholder="New password" />
            </div>
            <div class="auth__fieldset">
                <input type="password" id="change-confirm-password" class="auth-field" placeholder="Confirm password" />
            </div>

            <button class="auth-btn">
                Save
            </button>
        </form>
        
        <form id="auth-type" class="auth__form auth__form--last">
            <div class="auth__fieldset">
                <input type="radio" id="player" class="auth-field" name="type" value="player" checked>
                <label class="auth-label" for="player">Player</label>
            </div>
            <div class="auth__fieldset">
                <input type="radio" id="spectator" class="auth-field" name="type" value="spectator">
                <label class="auth-label" for="spectator">Spectator</label>
            </div>
            <div class="auth__fieldset">
                <input type="radio" id="croupier" class="auth-field" name="type" value="croupier">
                <label class="auth-label" for="croupier">Croupier</label>
            </div>

            <button class="auth-btn">
                Select role
            </button>
        </form>
    </div>
</div>