{% set points = [0, "1/2", 1, 2, 3, 5, 8, 13, 20, 40, 100, "?"] %}

<div id="card" class="card">
    <div class="card__frame">
        {% for i in 1..4 %}
            <div class="card__svg">
                {% include './../svg/logo.svg' %}

                <div class="card__svg-text card-number">
                    {{ points[0] }}
                </div>
            </div>
            
        {% endfor %}
    </div>

    <canvas class="card-figures"></canvas>

    <div class="card__number">
        <ul class="card__number-list">
            {% for point in points %}
                <li class="card__number-point card-number">
                    {{ point }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="card__footer">
        <div class="card-btn">
            VOTE
        </div>
    </div>
</div>