<div class="results">
    <ul class="results__list">
        {% for i in 0..10 %}
        <li class="results__el">
            <div class="results-name">
                Michal
            </div>
            
            <div class="results-points">
                13
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="results-btn">
        Reset
    </div>
</div>